// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.instructions {
	
}
.quantity {
	font-weight: bold;
}
.unit {
	font-weight: bold;
}
.ingredient {
	font-weight: bold;
}
